@import url(//fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&family=Pontano+Sans&display=swap);
:root {
--main-radius:15px;
--main-padding:25px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 body {
    background-color: white;
    font-family: "Noto Sans Display", sans-serif;
    padding: 50px
  }
/*navigation menu*/
header {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 30px 10%;
}

nav {
  margin: 50px 0;
   }

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 60px;
  text-decoration: none;
}
.nav_links li a {
    text-decoration: none;
    color: rgb(32, 32, 32);
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: rgb(6, 120, 190);
}
.container {
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-gap: 2rem;
}
main {
    background-color: white;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 0 0 0 10px;
}
#ltc {
    background-color: white;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 0 10px 0 0;
    }

#card_image {
    width: 700px;
    height: 700px;
    object-fit: contain;
}
#blog1 {
    background-color: mediumblue;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 0 0 0 10px;
}

#blog2 {
    background-color: mediumslateblue;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 0 10px 0 0;
}

@media only screen and (max-width:550px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.2fr 0.2fr; 
    grid-gap: 1rem;
    }
}
#welcome {
font-family: "Noto Sans Display", sans-serif;
padding: 250px 0 0 0;
color: #0678be;
}

.blogheader {
    font-family: "Noto Sans Display", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #0678be;
    text-align: center;
    padding: 5px;
   }
.blogdesc {
    text-align: center;
    padding: 0 0 25px 0;
}
.blogcontainer {
 display: grid; 
 height: 100vh;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 2rem  
}
.article1 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
margin: 0 0 0 25px;
}
.article2 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
.article3 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
margin: 0 25px 0 0;
}
.article4 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
margin: 0 0 0 25px;
}
.article5 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
.article6 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
margin: 0 25px 0 0;
}
.article1 a{
 text-decoration: none;
 color: #F05250;   
}
.article2 a{
    text-decoration: none;
    color: #F05250;    
   }
 .article3 a{
    text-decoration: none;
    color: #F05250;    
   }
   .article4 a{
    text-decoration: none;  
    color: #F05250;  
   }
   .article5 a{
    text-decoration: none;   
    color: #F05250; 
   }
   .article6 a{
    text-decoration: none;
    color: #F05250;    
   }
@media only screen and (max-width:550px) {
    .blogcontainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr; 
    grid-gap: 1rem;
    }
}
.articletitle {
    font-family: "Noto Sans Display", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #0678be;
    text-align: center;
    padding: 0 0 45px 0;
}
div ul {
    list-style-position: inside;
}
div ol {
    list-style-position: inside;
}
h4 {
    color: #0678BE;
}
h5 {
font-size: 10.5pt;
font-weight:normal;
color: #F05250;
}
