
:root {
--main-radius:15px;
--main-padding:25px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/blob.png");
  }

/*navigation menu*/
header {
  display: flex;
  justify-content: left;
  align-content: center;
  width: 1440px;
  height: 60px;
}

.nav_links {
  list-style: none;
  margin-left: 87px;
}

.nav_links li {
  display: inline-block;
  padding: 18px 60px;
  text-decoration: none;
  font-size: 14px;
}
.nav_links li a {
    text-decoration: none;
    color: #C5004B;
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: rgb(6, 120, 190);
}
.container {
    margin-top: 12.5%;
    margin-right: 0;
    padding-left: 7%;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-gap: 20px
}

.d1 {
    align-self: top;
}

.d2 {
    grid-area: 1/2/3/3;
    justify-self: end;
}
.d3 {
    line-height: 1.6;
}

#welcome {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    color: #0D1570;
    }

button, #blogbutton {
    background-color: #0D1570;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    color: white;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border: none;
    margin-top: 5%;
}

main {
    /* background-color:blue; */
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 0 0 0 10px;
}





.blog1__img {
min-width: 35rem;
max-width: 35rem;
position:relative;
}
.blog1__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 0.8rem;
}
.blog1__img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    /* background: linear-gradient(to right, rgba(79, 172, 254, 0.8), rgba(0, 242, 254, 0.8)); */
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba (0,0,0,.05);
    border-radius: 0.8rem;                                            
}

.blog1__date span{
display:block;
 color: grey;
font-weight: bold;
 margin: 0.5rem 0;
 line-height: 0.4cm
}

.blog1__title {
    margin: 20px 0 20px;
    color: #0678be
}
.blog1__info {
margin-bottom: 3rem;
color:rgb(32, 32, 32);
}

.blog1__cta {
display: inline-block;
padding: 10px 50px;
letter-spacing: 1px;
color: #fff;
background-color: #48B7AC;
border-radius: 15px;
text-decoration: none; 
}
.blog1__cta:hover {
background-color: #F05250;
}
/*Hiding media queries for now coz it's getting too complicated*/
/* @media screen and (max-width: 1068px) {
    #blog1 {      
        max-width: 80rem;
    }
}

.blog1__img {
    min-width: 30rem;
    max-width: 30rem;
}

@media screen and (max-width: 868px) {
    #blog1 {      
        padding: 2.5rem;
        flex-direction: column;
    }
}

.blog1__img {
    min-width: 100%;
    max-width: 100%;
} */

/*CARD FOR BLOG POST2*/

#blog2 {
    background-color: EBEBEB;
    border-radius: 20px;
    padding: 40px;
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 98rem;
    box-shadow: 0 1.4rem 8rem rgba (0,0,0,0.4);
}
.blog2__img {
    min-width: 500px;
    max-width: 500px;
    position: relative;
    }

.blog2__img img {
        width: 400px;
        height: 400px;
        object-fit: contain;
        display: block;
        border-radius: 0.8rem;
        padding: 0 0 0 0px;
            }
.blog2__img::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        /* background: linear-gradient(to right, rgba(79, 172, 254, 0.8), rgba(0, 242, 254, 0.8)); */
        box-shadow: 0.5rem 0.5rem 3rem 1px rgba (0,0,0,.05);
        border-radius: 0.8rem;                                            
    }

@media only screen and (max-width:550px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.2fr 0.2fr; 
    grid-gap: 1rem;
    }
}


.blogheader {
    font-family: "Noto Sans Display", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #0678be;
    text-align: center;
    padding: 5px;
   }
.blogdesc {
    text-align: center;
    padding: 0 0 25px 0;
}
.blogcontainer {
 display: grid; 
 height: 100vh;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 2rem  
}
.article1 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
margin: 0 0 0 25px;
}
.article2 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
.article3 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
margin: 0 25px 0 0;
}
.article4 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
margin: 0 0 0 25px;
}
.article5 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}
.article6 {
background-color: #F5F5F5;
color: #F05250;
font-size: 20px;
font-weight:bold;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
margin: 0 25px 0 0;
}
.article7 {
    background-color: #F5F5F5;
    color: #F05250;
    font-size: 20px;
    font-weight:bold;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 0 0 0 25px;
    }
.article8 {
    background-color: #F5F5F5;
    color: #F05250;
    font-size: 20px;
    font-weight:bold;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    margin: 0 25px 0 0;
    }
.article1 a{
 text-decoration: none;
 color: #F05250;   
}
.article2 a{
    text-decoration: none;
    color: #F05250;    
   }
 .article3 a{
    text-decoration: none;
    color: #F05250;    
   }
   .article4 a{
    text-decoration: none;  
    color: #F05250;  
   }
   .article5 a{
    text-decoration: none;   
    color: #F05250; 
   }
   .article6 a{
    text-decoration: none;
    color: #F05250;    
   }
   .article7 a{
    text-decoration: none;
    color: #F05250;    
   }
   .article8 a{
    text-decoration: none;
    color: #F05250;    
   }
@media only screen and (max-width:550px) {
    .blogcontainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr; 
    grid-gap: 1rem;
    }
}
.articletitle {
    font-family: "Noto Sans Display", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #0678be;
    text-align: center;
    padding: 0 0 45px 0;
}
div ul {
    list-style-position: inside;
}
div ol {
    list-style-position: inside;
}
h4 {
    color: #0678BE;
}
h5 {
font-size: 10.5pt;
font-weight:normal;
color: #F05250;
}
.quote {
    text-align: center;
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: #CDEEF4;
}

.codingtext {
    font-size: 12pt;
    color: #F05250;
    background-color: #EBEBEB;
}
#techblog1 {
    border-style: solid;
    border-width: 4px;
    border-color: #F99F1B;
 }
#relposition {
    border: 1px solid rgb(231, 228, 228);
    float: right;
    margin: 20px;
    position: relative;
    top: 18px;
}

#fixedposition {
    border: 3px solid #0678BE;
    background-color: #CDEEF4;
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 500px;
    padding: 6px;
    }

#bluebox {
    position: relative;
    background-color: #0678be;
    color: white;
    width: 300px;
    height: 200px;
    top: 20px;
    left: 80px;
}

#coralbox {
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #F05250;
    width: 200px;
    height: 150px;
}

footer {
    background: #C7CCFF;
    height: 15%;
    width: 100%;    
}